<link rel="stylesheet" href="assets/css/login.css" />
<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<img src="images/nbpa-logo.png" alt="" style="max-height: 100px; padding-right: 20px;">
				<img src="images/nba-logo.png" alt="" style="max-height: 100px;">
				<h1 style="margin-bottom: -11px;">NBA Player Benefits</h1>
				<h2 style="font-style: italic;">at a glance</h2>
				<!-- <p>The NBPA Financial Portal is dedicated to providing you with the most up to date resources and information. <br>Please enter password to view the content:</p> -->
			</header>

		<!-- Menu -->

			<h2>Select your status as an NBA player:</h2>

			<form action="">
			  <select id="status">
			    <option value="active" name="active">Active Player</option>
			    <option value="international" >International Player</option>
			    <option value="twoway">Two-Way Contract Player</option>
			    <option value="toronto">Toronto Raptors Player</option>
			    <option value="retired">Retired Player</option>
			  </select>
			  <input type="submit" value="View Benefits" id="benefitsubmit" />
			</form>

			<div id="comingsoon" style="display: none;">
				<h1 style="font-style: italic;">Coming soon!</h1>
			</div>

			<script src="assets/vendor/jquery/jquery.min.js"></script>
			<script>

				document.getElementById("benefitsubmit").addEventListener("click", open);

				  function open() {
				    
				    event.preventDefault()
				    console.log($( "#status option:selected" ).val())
				    if ($( "#status option:selected" ).val() === 'active') {
				      window.location.href = "/active";
				    } 
				    else {
				      $( "#comingsoon" ).show();
				    }
				  }
			</script>
	</body>