<link rel="stylesheet" href="assets/css/login.css" />
<body class="is-preload">

		<!-- Header -->


		<!-- Menu -->

		<h1>you made it!</h1>



			<script src="assets/vendor/jquery/jquery.min.js"></script>
			<script>

				document.getElementById("benefitsubmit").addEventListener("click", open);

				  function open() {
				    
				    event.preventDefault()
				    console.log($( "#status option:selected" ).val())
				    if ($( "#status option:selected" ).val() === 'active') {
				      window.location.href = "/active";
				    } 
				    else {
				      $( "#comingsoon" ).show();
				    }
				  }
			</script>
	</body>