<link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/assets/css/main.css" rel="stylesheet">
<body id="page-top">
    <header class="text-white" style="padding-top: 0px;">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="#">&nbsp</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#during">Benefits During Your Career</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#after">Post Career Benefits</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/">Back to Main Menu</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- <img src="images/activebanner.jpg" class="img-fluid" alt="Active Player Benefit Banner"> -->
        <div class="jumbotron" style="background: linear-gradient(#053f64, #f48231); color: #fff; padding: 85px 0 85px  0;">
            <div class="container">
                <img src="images/nbpa-logo.png" alt="" style="padding-right: 20px;" class="pagelogo">
                <img src="images/nba-logo.png" alt="" class="pagelogo">
                <h1>NBA Players' Benefits at a Glance</h1>
                <h5>As an NBA Player, you have access to a range of benefits to help you during your career and after your playing days end.</h5>
            </div>
        </div>
    </header>
    <!-- Benefits During Career -->
    <section id="during">
        <div class="container">
            <div style="border-bottom: solid; margin-bottom: 40px;">
                <h2>Benefits During Your Career: <span style="font-style: italic;">Protection For Today</span></h2>
            </div>
            <div class="row">
                <div class="col-lg-12 mx-auto">
                    <div class="panels animated fadeInUp" id="accordion1">
                        <h3 class="accordionheader">
                          <i class="fa fa-plus"></i>Medical Plan
                        </h3>
                        <div class="posts">
                            <article>
                                <h4 class="font-weight-bold">Covers:</h4>
                                <p>Benefits for medical services, supplies and prescription drugs</p>
                                <h4 class="font-weight-bold">How It Works:</h4>
                                <p>You can use any provider for medical care, although using a Cigna network provider reduces your out-of-pocket costs.</p>
                                <ul>
                                    <li><span class="font-weight-bold">In-Network:</span> No cost for preventive care; copays for visit to primary care or specialist ($25), emergency room ($100) and urgent care facility ($100). For other services: $0 annual deductible and out-of-pocket maximum.</li>
                                    <ul>
                                    <li>For prescription drugs – $5 generic / $10 preferred brand / $25 non-preferred brand.</li>
                                    </ul>
                                    <li><span class="font-weight-bold">Out-of-Network:</span> $500 (single) / $1,500 (family) deductible, then services covered at 20% of reasonable and customary charges; maximum out of pocket: $1,500 (single) / $4,000(family).</li>
                                    <ul>
                                    <li>For prescription drugs: 20% per prescription order or refill.</li>
                                    </ul>
                                </ul>
                                <h4 class="font-weight-bold">Who to Contact:</h4>
                                <ul>
                                    <li><span class="font-weight-bold">NBA Players’ Health Service Center:</span> <a href="tel:855-497-6669">855-497-6669</a>, Option 1</li>
                                    <li><span class="font-weight-bold"><a href="https://www.cigna.com/" target="_blank">Cigna Website</a></span></li>
                                    <li><span class="font-weight-bold">Cigna Phone Number: </span><a href="tel:800-244-6224">800-244-6224</a></li>
                                    <li><span class="font-weight-bold">Your Team Benefits Representative</span></li>
                                </ul>
                                <h4 class="font-weight-bold">Important Documents:</h4>
                                <ul>
                                    <li><a href="https://www.dropbox.com/s/n1wp09rs54urk7f/CIGNA_Benefit_Summary.pdf?dl=0" target="_blank">CIGNA Benefit Summary</a></li>
                                </ul>
                            </article>
                        </div>
                        <h3 class="accordionheader">
                          <i class="fa fa-plus"></i>Dental Plan
                        </h3>
                        <div class="posts">
                            <article>
                                <h4 class="font-weight-bold">Covers:</h4>
                                <p>Benefits for dental services</p>
                                <h4 class="font-weight-bold">How It Works:</h4>
                                <p>You can use any provider for dental care, although using a Cigna network provider reduces your out-of-pocket costs. Out-of-network services are subject to the reasonable and customary allowance.</p>
                                <ul>
                                    <li><span class="font-weight-bold">In-Network:</span> $25 (single) / $75 family deductible, preventive paid at 100% (no deductible) then plan pays 90% for basic and 60% for major services, up to $3,000 annual maximum per person. Orthodontia services are covered up to 60% up to a separate $2,000 lifetime maximum per person.</li>
                                    <li><span class="font-weight-bold">Out of Network:</span> $25 (single) / $75 family deductible, preventive paid at 100% (no deductible) then plan pays 90% for basic and 60% for major services, up to $3,000 annual maximum per person. Orthodontia services are covered up to 60% up to a separate $2,000 lifetime maximum per person.</li>
                                </ul>
                                <h4 class="font-weight-bold">Who to Contact:</h4>
                                <ul>
                                    <li><span class="font-weight-bold">NBA Players’ Health Service Center:</span> <a href="tel:855-497-6669">855-497-6669</a>, Option 1</li>
                                    <li><span class="font-weight-bold"><a href="https://www.cigna.com/" target="_blank">Cigna Website</a></span></li>
                                    <li><span class="font-weight-bold">Cigna Phone Number:</span> <a href="tel:800-244-6224">800-244-6224</a></li>
                                    <li><span class="font-weight-bold">Your Team Benefits Representative</span></li>
                                </ul>
                            </article>
                        </div>
                        <h3 class="accordionheader">
                          <i class="fa fa-plus"></i>Vision Plan
                        </h3>
                        <div class="posts">
                            <article>
                                <h4 class="font-weight-bold">Covers:</h4>
                                <p>Benefits for vision exams and eyewear</p>
                                <h4 class="font-weight-bold">How It Works:</h4>
                                <p>You can obtain care from any provider, although benefits are greater if you use an EyeMed network provider.</p>
                                <ul>
                                    <li><span class="font-weight-bold">In-Network: </span>Annual exams and lenses in any prescription range are covered in full; allowance provided for eyeglass frames, and contacts.</li>
                                    <li><span class="font-weight-bold">Out-of-Network: </span>Scheduled reimbursement based on type of service.</li>
                                </ul>
                                <h4 class="font-weight-bold">Who to Contact:</h4>
                                <ul>
                                    <li><span class="font-weight-bold">NBA Players’ Health Service Center:</span> <a href="tel:855-497-6669">855-497-6669</a>, Option 1</li>
                                    <li><span class="font-weight-bold"><a href="http://portal.eyemedvisioncare.com/" target="_blank">EyeMed Website</a></span></li>
                                    <li><span class="font-weight-bold">EyeMed Phone:</span> <a href="tel:866-723-0514">866-723-0514</a></li>
                                </ul>
                            </article>
                        </div>
                        <h3 class="accordionheader">
                          <i class="fa fa-plus"></i>Life and Accidental Death & Dismemberment (AD&D)
                        </h3>
                        <div class="posts">
                            <article>
                                <h4 class="font-weight-bold">Covers:</h4>
                                <p>Financial protection for you and your family (in the event of death or accidental loss)</p>
                                <h4 class="font-weight-bold">How It Works:</h4>
                                <ul>
                                    <li>Flat $1,000,000 payable to your beneficiary if you die from any cause while covered.</li>
                                    <li>An additional benefit is payable, according to a schedule, if you die or suffer a loss as the result of a covered accident.</li>
                                </ul>
                                <h4 class="font-weight-bold">Who to Contact:</h4>
                                <ul>
                                <li><span class="font-weight-bold">NBA Players’ Health Service Center:</span> <a href="tel:855-497-6669">855-497-6669</a>, Option 1 then Option 4</li>
                            </article>
                        </div>
                        <h3 class="accordionheader">
                          <i class="fa fa-plus"></i>Disability Plan
                        </h3>
                        <div class="posts">
                            <article>
                                <h4 class="font-weight-bold">How It Works:</h4>
                                <ul>
                                    <li>60% of your contract salary to a maximum weekly benefit of $1,500 ($312,000 maximum lifetime benefit).</li>
                                    <li>Disability payments end on the date you reach the 4-year anniversary of the date your disability, or age 35.</li>
                                </ul>
                                <h4 class="font-weight-bold">Who to Contact:</h4>
                                <ul>
                                    <li><span class="font-weight-bold">NBA Players’ Health Service Center:</span> <a href="tel:855-497-6669">855-497-6669</a>, Option 1 then Option 5</li>
                                </ul>
                               
                            </article>
                        </div>
                        <h3 class="accordionheader">
                          <i class="fa fa-plus"></i>Tuition Reimbursement Plan
                        </h3>
                        <div class="posts">
                            <article>
                                <h4 class="font-weight-bold">Covers:</h4>
                                <p>Reimburses eligible players for fees, textbook and tuition costs for qualifying education programs</p>
                                <h4 class="font-weight-bold">How It Works:</h4>
                                <ul>
                                    <li>Eligible players may receive up to $33,654 per year (with a lifetime maximum benefit of $101,000).</li>
                                    <li>For players with 3 or more years of NBA service, benefits can be used during and after their playing careers.</li>
                                </ul>
                                <h4 class="font-weight-bold">Who to Contact:</h4>
                                <ul>
                                    <li>
                                    <span class="font-weight-bold">NBA Players’ Health Service Center:</span> <a href="tel:855-497-6669">855-497-6669</a>, Option 3</li>
                                    <li>
                                    <span class="font-weight-bold"><a href="mailto:academicadvisor@nbpa.com">Email an Academic Advisor,</span></a> or call: <a href="tel:212-655-0977">212-655-0977</a></li>
                                </ul>
                                <h4 class="font-weight-bold">Important Documents:</h4>
                                <ul>
                                    <li><a href="https://www.dropbox.com/s/0mx4y6ih3dfu7u2/2018%20NBA%20Players%20Tuition%20Plan%20Overview.pdf?dl=0" target="_blank">2018 Plan Overview</a></li>
                                </ul>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <p>This summary is intended to provide highlights of your benefits. If there is any conflict between this summary and the applicable legal plan document, as amended, the legal plan document, as amended, shall govern at all times.</p>
        </div>
    </section>
    <!-- Post Career -->
    <section id="after" class="bg-light">
        <div class="container">
            <div style="border-bottom: solid; margin-bottom: 40px;">
                <h2>Post Career Benefits: <span style="font-style: italic;">Income For Your Future</span></h2>
            </div>
            <div class="row">
                <div class="col-lg-12 mx-auto">
                    <div class="panels animated fadeInUp" id="accordion2">
                        <h3 class="accordionheader">
                          <i class="fa fa-plus"></i>401(k) Savings Plan
                        </h3>
                        <div class="posts">
                            <article>
                                <h4 class="font-weight-bold">Benefits:</h4>
                                <p>A savings plan for retirement</p>
                                <h4 class="font-weight-bold">How It Works:</h4>
                                <ul>
                                    <li>You will be automatically enrolled in the pre-tax 401(k) contribution each year equal to the maximum permitted by law, unless you choose otherwise. The maximum contribution for 2018 is $18,500.</li>
                                    <li>Your team matches 140% of your pre-tax savings, to a maximum of $25,900.</li>
                                    <li>You can also contribute an additional amount on an after-tax basis.</li>
                                    <li>All contributions are credited with investment earnings/losses while in the plan. You select investments from a menu of options.</li>
                                    <li>All contribution and investments earnings grow tax-deferred while in the plan.</li>
                                    <li>All contributions are always 100% vested.</li>
                                </ul>
                                <h4 class="font-weight-bold">Who to Contact:</h4>
                                <ul>
                                    <li><span class="font-weight-bold"><a href="https://voyaretirement.voya.com" target="_blank">Voya Website</a> </span> or call: <a href="tel:800-584-6001">800-584-6001</a></li>
                                </ul>
                                <h4 class="font-weight-bold">Important Documents:</h4>
                                <ul>
                                    <li><a href="https://www.dropbox.com/s/c4w5kpjhhbhssll/NBA%20Players%27%20401%28k%29.pdf?dl=0" target="_blank">Summary Plan Description</a></li>
                                </ul>
                            </article>
                        </div>
                        <h3 class="accordionheader">
                          <i class="fa fa-plus"></i>NBA Players’ Pension Plan
                        </h3>
                        <div class="posts">
                            <article>
                                <h4 class="font-weight-bold">Benefits:</h4>
                                <p>A plan that provides income for retirement</p>
                                <h4 class="font-weight-bold">How It Works:</h4>
                                <ul>
                                    <li>Your pension benefit grows with each year you play in the league (subject to IRS maximum benefit limits).</li>
                                    <li>Once you play three seasons, you can receive your normal retirement monthly benefit at age 50 or reduced benefit as early as age 45; a portion of your benefit may be available as a lump sum.</li>
                                </ul>
                                <h4 class="font-weight-bold">Who to Contact:</h4>
                                <p>Zenith American Solutions (ZAS) is the Pension Plan's third-party administrator and provides pension benefit administrative services. They are your point of contact for all pension inquiries.</p>
                                <ul>
                                    <li><a href="tel:833-622-7529">833 NBA-PLAY (622-7529)</a></li>
                                    <li><a href="mailto:NBAPlayerPension@zenith-american.com">Email</a> </li>
                                    <li><a href="https://auth.mygameplan.com/Auth/ClientLogon_NBA.aspx?Client=NBA&Target=https%3a%2f%2fwww.mygameplan.com%2fAuthMgr.aspx%3fReturnUrl%3d%252fdefault.aspx" target="_blank">mygameplan.com</a> (for personalized information)</li>
                                </ul>
                            </article>
                        </div>
                        <h3 class="accordionheader">
                          <i class="fa fa-plus"></i>Health Reimbursement Account Plan
                        </h3>
                        <div class="posts">
                            <article>
                                <h4 class="font-weight-bold">Benefit:</h4>
                                <p>A health care reimbursement account you can use to pay for health care expenses or to obtain coverage post-career</p>
                                <h4 class="font-weight-bold">How It Works:</h4>
                                <ul>
                                    <li>A reimbursement account you can use for out-of-pocket health care costs (e.g., copayments, deductibles, prescription medication, hospital or optical dispensing service costs) while you are playing or for certain health care coverage or costs post-career.</li>
                                    <li>Each year you play, you receive contributions to your account; also grows through investment returns. If you are eligible, your HRA contribution each season will be the lesser of $30,000 or the difference between $150,000 and the sum of all contributions previously made to your HRA provided the difference is greater than $0. Once you play three seasons, you will be able to access your account funds.</li>
                                    <li>Contributions are not taxed and benefits are tax-free.</li>
                                    <li>File a claim for reimbursement, or use your plan debit card to pay expenses for yourself and any eligible dependents (including children up through the end of the year in which they reach age 26).</li>
                                </ul>
                                <h4 class="font-weight-bold">Who to Contact:</h4>
                                <ul>
                                    <li><a href="https://www.umr.com/tpa-ap-web/?page=defaultRoot" target="_blank">UMR (formerly POMCO) Website</a> or call <a href="tel:866-542-7958">866-542-7958</a></li>
                                </ul>
                            </article>
                        </div>
                        <h3 class="accordionheader">
                          <i class="fa fa-plus"></i>NBA Players’ Post Career Income Plan
                        </h3>
                        <div class="posts">
                            <article>
                                <h4 class="font-weight-bold">Benefits:</h4>
                                <p>A plan that provides guaranteed monthly income soon after your NBA career ends and continuing until your pension begins</p>
                                <h4 class="font-weight-bold">How It Works:</h4>
                                <ul>
                                    <li>Plan provides guaranteed monthly income through insured annuities soon after your NBA career ends (but not before age 30).</li>
                                    <li>You receive a collectively bargained team contribution each year you play (a portion of which is tax-deferred); in addition, you may elect to contribute 2%, 5%, 7% or 10% of your eligible pay.</li>
                                    <li>You may choose from various annuity payment options, including monthly payments until age 50 or lifetime payments.</li>
                                </ul>
                                <h4 class="font-weight-bold">Who to Contact:</h4>
                                <ul>
                                    <li><a href="https://principal.com/NBAPlayers">Principal Financial Group Website</a> or call: <a href="tel:866-541-6351">866-541-6351</a></li>
                                </ul>
                                <h4 class="font-weight-bold">Important Documents:</h4>
                                <ul>
                                    <li><a href="https://www.dropbox.com/s/zzapu5od53gimhb/NBA%20Plan%20Overview-1.pdf?dl=0" target="_blank">Plan Overview</a></li>
                                </ul>
                                
                            </article>
                        </div>
                        <h3 class="accordionheader">
                          <i class="fa fa-plus"></i>NBA Players’ Retiree Medical Plan
                        </h3>
                        <div class="posts">
                            <article>
                                <h4 class="font-weight-bold">Benefits:</h4>
                                <p>Healthcare coverage for eligible retired players and their families</p>
                                <h4 class="font-weight-bold">How It Works:</h4>
                                <ul>
                                    <li>
                                        The plan provides healthcare coverage through UnitedHealthcare® for eligible retired players and, in some cases, their families at no charge to the player for the cost of premiums for such coverage.
                                    </li>
                                    <li>
                                        You can use any provider for medical care, although using a UnitedHealthcare® network provider generally reduces your out-of- pocket costs.
                                    </li>
                                </ul>
                                <h4 class="font-weight-bold">Who to Contact:</h4>
                                <ul>
                                    <li><span class="font-weight-bold">NBA Players’ Health Service Center:</span> <a href="tel:855-497-6669">855-497-6669</a>, Option 2
                                    </li>
                                    <li><span class="font-weight-bold"><a href="https://www.myuhc.com" target="_blank">United Healthcare Website</a></span></li>
                                </ul>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <p>This summary is intended to provide highlights of your benefits. If there is any conflict between this summary and the applicable legal plan document, as amended, the legal plan document, as amended, shall govern at all times.</p>
        </div>
    </section>
    <!-- Footer -->
    <footer class="py-5 bg-dark" id="contact">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; NBA & NBPA 2018</p>
            <br>
            <p class="m-0 text-center text-white">For any additional questions/help, please contact:</p>
            <p class="m-0 text-center text-white">NBPA Benefits Department: <a href="tel:212-655-0880">212-655-0880</a></p>
            <p class="m-0 text-center text-white">NBA Benefits Department: <a href="tel:201-974-6744">201-974-6744</a></p>
        </div>
        <!-- /.container -->
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- JQuery UI Element -->
    <script src='/assets/js/jquery-ui.min.js'></script>
    <!-- Plugin JavaScript -->
    <script src="/assets/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom JavaScript -->
    <script src="/assets/js/main.js"></script>
</body>